@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0f;
  --foreground: #ffffff;
}

@font-face {
  font-family: Yrigakesha;
  src: url(/resources/fonts/Yrigakesha.otf);
}

@font-face {
  font-family: Yriga;
  src: url(/resources/fonts/Yriga.ttf);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Yrigakesha, Helvetica, sans-serif;
}
